TYPEORM_CONNECTION=
TYPEORM_HOST=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_PORT=
TYPEORM_SYNCHRONIZE=
TYPEORM_LOGGING=
TYPEORM_ENTITIES=
TYPEORM_MIGRATIONS=
TYPEORM_MIGRATIONS_DIR=
TYPEORM_MIGRATIONS_TABLE_NAME=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
ENCRYPTION_KEY=
HASH_FUNCTION=sha256WithRSAEncryption
# If the specified algorithm uses a key of a certain bits length
# ENCRYPTION_KEY must have the required length
CIPHER_ALGORITM=aes256
APP_NAME=Studio-Ghibli-Backoffice